
@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("../fonts/Inter.ttf") format("truetype");
/*    font-weight: 500;*/
}

@font-face {
    font-family: "Inter-light";
    src: local("Inter"),
        url("../fonts/Inter.ttf") format("truetype");
    font-weight: 400;
}

body {
    font-family: "Inter";
}

hr {
    border: 0;
    height: 1px;
    background: #eee;

/*    margin: 0 1em 0 1em;*/
}

.screen {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin: 1em 0 1em 0;
    gap: 1em;
}

.logo {
    display: flex;
    align-items: center;

    gap: 1em;
}

.logo-text {
    font-weight: 600;   
}

.controls {
    display: flex;
    align-items: center;

    gap: 2em;
}

div.controls a {
    color: grey;
    text-decoration: none;
}

div.controls a:hover {
    color: black;
/*    font-weight: bold;*/
}

.button {
    color: white;
    background-color: #369FFF;
    text-decoration: none;

    padding: 1em 1em 1em 1em;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #369FFF !important;
    border-radius: 10px !important;
    border: none !important;

    white-space: nowrap;
}

.btn:hover {
    opacity: 80%;
}


.button span {
    text-align: center;
    font-weight: 600;
}

.modal-content {
    border-radius: 20px !important;
}

.button:hover {
    opacity: 80%;
}

.button-light {
    color: #369FFF;
    background-color: white;
    border: 2px solid #369FFF;
    text-decoration: none;

    padding-left: 0.5em;
    padding-right: 0.5em;

    padding-top: 1em;
    padding-bottom: 1em;

    margin-top: 2em;
    margin-bottom: 1em;

    border-radius: 10px;
}

.button-light:hover {
/*    color: #2788FF;*/
    opacity: 80%;
/*    border: 2px solid #2788FF;;*/

    
}

.button-light span {
    text-align: center;
    font-weight: 600;
}

.full-width {
    flex: 1 1 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    filter: invert(38%) sepia(91%) saturate(5075%) hue-rotate(210deg) brightness(100%) contrast(98%);
}

.white {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(208deg) brightness(110%) contrast(100%);
}

.logo img {
    width: 64px;
}

.content {

    margin: 1em 0 1em 0;
}

.content-top {
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin: 0 0 1em 0;
}

.content-top h1 {
    text-align: center;
    margin: 0;

    font-weight: 500;
}

.content-main {
    display: flex;

    flex-wrap: wrap;
    gap: 1em;
}

.content-more {
    display: flex;
    margin: 0 0 1em 0;
}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh;

    border: 2px dashed grey;
    border-radius: 20px;

    margin-bottom: 1em;
}

.image-container img {
/*    position: absolute;*/
    width: 100%;
    border-radius: 20px;

    margin-top: 2em;
}

.image-info {
/*    position: absolute;*/
    bottom: 16px;
    left: 24px;
    
    color: white;
    opacity: 70%;

    font-weight: 400;
}

#image-obj {
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border: none;
    border-radius: 20px;

    margin-top: 0;
/*    z-index: -1;*/
}

.upload-hint {
/*    position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;

    width: 100%;
    height: 100%;
}

.upload-add {
    max-width: 20px;
    width: 20px;
    height: 20px;

    margin-bottom: 1em;
}

.hint-hint {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hint-hint span {
    display: inline-block;white-space: nowrap;

}

.upload-controls {
    display: flex !important;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
}

.upload-image {
    max-width: 20px;
    width: 20px;
    height: 20px;

/*    margin-bottom: 1em;*/
}

.form-check {
    display: flex;
    align-items: center;
    gap: 0.5em;

    white-space: nowrap;
}

.footer {
    display: flex;
    justify-content: space-between;

    margin: 1em 1em 0 1em;
}

.footer .dark-link {
    color: black;
    text-decoration: none;
    font-family: "Inter-light";
}

.footer .dark-link:hover {
    color: grey;
}


.mail {
    text-decoration: none;
    font-family: "Inter-light";

    color: #369FFF;
}

.mail:visited {
    color: #369FFF;
}

@media screen and (max-width: 1200px) {
    .screen {
        margin: 0 2em 0 2em;
    }
}

@media screen and (max-width: 600px) {
    .upload-controls {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
/*        display:grid;*/
/*        display: block;*/
    }

    .upload-controls .upload-btn-container {
        width: 100%;
    }

    .upload-btn-container .btn {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .screen {
        margin: 0 0.5em 0 0.5em;
    }
    .logo-text {
        display: none;
    }
}
